# Gradle
**/.gradle/
**/build/

# Android Studio / IntelliJ
*.iml
.idea/
*.apk
*.keystore
*.log
# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Android
**/android/.gradle/
**/android/app/build/
**/build/

# iOS
**/ios/Pods/
**/ios/Runner.build/
**/ios/Flutter/App.framework/
**/ios/Flutter/Flutter.framework/

# Others
*.log
*.apk
*.aab
*.keystore
*.iml
.idea/
